body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23242B;
  color: white;
  font-size: 2rem;
  min-height:100dvh;

}

:root {
  --padding-size: 4vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  padding:var(--padding-size);
  display: flex;
  flex-direction: column;
  gap:var(--padding-size);
}
.headerbody{
  text-align: center;
  justify-content: center;
}
.sectionheader{
  background-color: #AEC4F1;
  border-radius:16px;
  color: #23242B;
  padding:var(--padding-size);
  display: inline-block;
}
.pad{
  padding: var(--padding-size);
}
.column{
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width:50%;
  padding:var(--padding-size);
}

.fixed{
  position:fixed;
  top: 0;
  left:0;
  height:100dvh;
}

.scroll{
  overflow-y: auto;
}

.row{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
.titlerow{
  display: flex;
  flex: 1;
  flex-direction:row;
  justify-content: space-between;
}

.title{
  font-size: 2.5rem;
  font-weight: 500; 
}
.githublink{
  font-size: 1.5rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

.sectionparent{
  background-color: #393B4E;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 0 Black;
}

.addborder{
  border-radius: 16px;
}
.ptext{
  font-size: 1.75rem;
}
.italic{
  font-style: italic;
}
.h60{
  height:60%;
}

.contactrow{
  display:flex;
  flex-direction: row;
  gap: 1vh;
  justify-content: flex-start;
  overflow-wrap: break-word;
}
.textsm{
  font-size: 1.25rem;
}

.fixedside{
  width: 30%;
  position: fixed;
  left:0;
  margin-left:3%;
  top: 40vh;
  height:100%;
  z-index: 999;
  
}
@media screen and (max-width: 768px) {
  .fixedside {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    z-index: 1000;
  }

  .scrollable {
    margin-top: 20vh; /* leave space for the fixed header */
    margin-left:0;
  }
}

.scrollable{
  width: 60%; /* Remaining space */
  flex-grow:1;
  margin-left:40%;
}
.scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}